.blog-tags {
  margin: 20px 0px 0px 16.5%;
  width: 80%;
  display:flex;
  flex-direction: column;
  background-color: $white;
  padding: 0px 20px 20px 20px;
  h1 {
    font-size: 30px;
    text-align: left;
    line-height: 1.3;
    color: $dark-blue;
  }
  h2 {
    font-size: 50px;
    text-align: left;
    color: $dark-blue;
    margin: 10px 0;
  }
}

.tags {
  text-align: left;
  margin: 0;
  padding: 0px;

  li {
    display: inline-block;
    margin: 5px;
    list-style: none;

    a {

      text-decoration: none;
      color: $dark-blue;
      display: inline-block;
      padding: 5px 10px;
      border: 1px solid $gray;
      background-color: $lightgray;
      transition: all .3s;
      &:hover {
        background-color: $gray;
      }
    }
  }
}

.tag-list {
  padding: 0px;
  text-align: left;
  span {
    a {
      text-align: right;
      text-decoration: none;
      color: $dark-blue;
      &:hover {
        text-decoration: underline;
        opacity: .8;
      }
    }
  }
}

.page-tag {
  text-align: right;
  span {
    a {
      text-decoration: none;
      color: $dark-blue;
      &:hover {
        text-decoration: underline;
        opacity: .8;
      }
    }
  }
}

.blog-tags {
  text-align: left;
  span {
    a {
      text-decoration: none;
      color: $dark-blue;
      &:hover {
        text-decoration: underline;
        opacity: .8;
      }
    }
  }
}
